{% extends 'default.twig' %}

{% block body %}

<section class="">
	<div class="container">
        <div class="row">
			{# Add ---> card-deck #}
			{% for i in row %}

        	<!-- Movie card -->
			<div class="col-lg-3 col-md-12 col-sm-12 mb-3">
				<div class="card-deck p-3">
					<div class="card bg-transparent border-0 text-left text-white hover-scale">
						<img class="card-img" src="{{ i.poster }}" title="{{ i.title }}" alt="{{ i.title }}_poster">
						<div class="card-img-overlay rounded">
						</div>
						<div class="card-footer px-0 bg-transparent">
							<h5 class="card-title text-muted">{{ i.title }}</h5>
							<div class="row">
								<div class="col-6">
									<div class="link d-inline text-secondary">{{ i.year }}, </div>
									<div class="link d-inline text-secondary">{{ i.tag }}</div>
								</div>
							</div>
						</div>

						<!-- Card link to modal -->
						<a href="" class="stretched-link" data-toggle="modal" data-target="#card{{ i.id }}"></a>  
					</div>
				</div>
			</div>


			<!-- Modal -->
			<div class="modal fade" id="card{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ i.id }}" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel{{ i.id }}">{{ i.title }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">

							<img class="card-img" src="{{ i.poster }}" title="{{ i.title }}" alt="{{ i.title }}_poster">

							<p>
								<span class="">{{ i.year }}</span>
								<span class="">{{ i.tag }}</span>
							</p>
							<p>
								<span class="">{{ i.mainActor }}</span>
							</p>
							<p>
								<span class="">{{ i.mainDirector }}</span>
							</p>
							<p>
								<h3>Synopsis</h3>
								{{ i.content }}
							</p>


							<form method="POST" action="edit_movie.php">
								<input type="hidden" name="id" class="form-control" value="{{ i.id }}">
								<input type="hidden"  name="title" class="form-control" value="{{ i.title }}">
								<input type="hidden"  name="year" class="form-control" value="{{ i.year }}">
								<input type="hidden"  name="mainActor" class="form-control" value="{{ i.mainActor }}">
								<input type="hidden"  name="director" class="form-control" value="{{ i.director }}">
								<input type="hidden"  name="tag" class="form-control" value="{{ i.tag }}">
								<input type="hidden"  name="content" class="form-control" value="{{ i.content }}">
								<input type="hidden"  name="poster" class="form-control" value="{{ i.poster }}">
								<div class="mt-3">
									<button type="submit" class="btn btn-outline-warning" href="" name="edit">Edit</button>
									<button type="submit" class="btn btn-outline-warning" href="" name="delete">Delete</button>
								</div>
							</form>

						</div>

					</div>
				</div>
			</div>

			{% endfor %}
			
        </div>
    </div>
</section>

{% endblock %}