{% extends 'default.twig' %}

{% block body %}
	<section>
		<div class="container my-5">
			<div class="row">
				{# Add ---> card-deck #}
				{% for i in row %}

					<!-- Movie card -->
					<div class="col-lg-3 col-md-12 col-sm-12 mb-3">
						<div class="card-deck p-0">
							<div class="card bg-transparent border-0 text-left text-white hover-scale">
								<div class="card-body p-0">
									<img class="img-fluid" src="{{ i.poster }}" title="{{ i.title }}" alt="{{ i.title }}_poster">
									<div class="card-img-overlay rounded">
									</div>
								</div>
								<div class="card-footer px-0 py-1 bg-transparent">
									<h5 class="card-title text-muted">{{ i.title }}</h5>
									<div class="">
										<span class="link d-inline text-secondary">{{ i.year }} | </span>
										<span class="link d-inline text-secondary">{{ i.tag }}</span>
									</div>
								</div>

								<!-- Card link to modal -->
								<a href="" class="stretched-link" data-toggle="modal" data-target="#card{{ i.id }}"></a>
							</div>
						</div>
					</div>
					

					<!-- Modal -->
					<div class="modal fade" id="card{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header border-0 my-0 p-1">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										{# <span aria-hidden="true">&times;</span> #}
										<i class="fas fa-times-circle"></i>
									</button>
								</div>
								<div class="modal-body mb-3 pb-0">
									<div class="row">
										{# col-4 #}
										<div class="col-md-4">
											<img src="{{ i.poster }}" class="img-fluid rounded" alt="poster of {{ i.title }}">
											<form class="inline-form" method="POST" action="edit_movie.php" enctype="multipart/form-data">
												<input type="hidden" name="id" class="form-control" value="{{ i.id }}">
												<input type="hidden"  name="title" class="form-control" value="{{ i.title }}">
												<div class="form-group mt-3">
													<div class="input-group">
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="new-poster" name="new-poster" accept="image/*">
															<label class="custom-file-label" for="new-poster">.jpg / .jpeg</label>
														</div>
													</div>
												</div>
												<button type="submit" class="btn btn-outline-success btn-block" name="update-poster">Update poster</button>
											</form>
										</div>
										{# end col-4 #}
										{# col-8 #}
										<div class="col-md-8">
											<div class="card-body p-0">
												<h3 class="card-title">{{ i.title }}</h3>
												<p class="card-text">
													<button class="btn btn-outline-link btn-sm text-white" disabled><i class="fas fa-calendar-alt mr-2"></i>{{ i.year }}</button>
													<button class="btn btn-outline-link btn-sm text-white" disabled><i class="fas fa-tags mr-2"></i>{{ i.tag }}</button>
													<button class="btn btn-outline-link btn-sm text-white" disabled><i class="fas fa-star mr-2"></i>{{ i.mainActor }}</button>
													<button class="btn btn-outline-link btn-sm text-white" disabled><i class="fas fa-bullhorn mr-2"></i>{{ i.director }}</button>
												</p>
												<div class="d-inline-block mb-3">
													
													<form method="POST" action="edit_movie.php" enctype="multipart/form-data">
														<input type="hidden" name="id" class="form-control" value="{{ i.id }}">
														<input type="hidden"  name="title" class="form-control" value="{{ i.title }}">
														<input type="hidden"  name="year" class="form-control" value="{{ i.year }}">
														<input type="hidden"  name="mainActor" class="form-control" value="{{ i.mainActor }}">
														<input type="hidden"  name="director" class="form-control" value="{{ i.director }}">
														<input type="hidden"  name="tag" class="form-control" value="{{ i.tag }}">
														<input type="hidden"  name="content" class="form-control" value="{{ i.content }}">
														<button type="submit" class="btn btn-outline-secondary text-white" name="edit"><i class="far fa-edit mr-2"></i>Edit infos</button>
														<button type="submit" class="btn btn-outline-secondary text-white" name="delete"><i class="far fa-trash-alt mr-2"></i>Delete</button>
													</form>

												</div>

												<p class="card-text">
													{{ i.content }}
												</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										</div>
										{# end col-8 #}
									</div>
								</div>
								{# modal body #}
							</div>
						</div>
					</div>
					<!-- END Modal -->
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}