{% extends 'default.twig' %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					{# CARD #}
					<div class="card mb-3 mx-auto p-5 rounded shadow">
						<div class="row no-gutters">
							<div class="col-md-4">
							<img src="{{ account_pic }}" class="card-img" alt="...">
							<div>
								<form method="POST" action="view_account.php" enctype="multipart/form-data">
									<input type="hidden" name="account_id" class="form-control" value="{{ account_id }}">
									<input type="hidden"  name="account_name" class="form-control" value="{{ account_name }}">
									<div class="row py-3">
										<input type="file" class="input-file" id="new-account-pic" name="new-account-pic" accept="image/*">
										<label for="new-account-pic" class="mb-0 btn btn-link">Browse file</label>
										<button type="submit" class="btn" name="update-pic"><i class="fas fa-upload mr-2"></i>Update</button>
									</div>
								</form>
							</div>
							</div>
							<div class="col-md-8">
							<div class="card-body py-0">
								<h3>Hello {{ account_name }}</h3>
								<p class="card-text">
									<span class="badge badge-secondary"><i class="fas fa-fingerprint mr-2"></i>{{ account_id }}</span>
									<span class="badge badge-secondary"><i class="fas fa-stopwatch mr-2"></i>1999-01-01</span>
									<span class="badge badge-secondary"><i class="fas fa-unlock-alt mr-2"></i>Unlock</span>
								</p>
								<div class="d-inline-block">
									<button type="button" class="btn btn-link text-success" data-toggle="modal" data-target="#change-username-modal"><i class="fas fa-user-edit mr-2"></i>Change name</button>
									<button type="button" class="btn btn-link text-success" data-toggle="modal" data-target="#change-password-modal"><i class="fas fa-key mr-2"></i>Change password</button>
								</div>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
							</div>
						</div>
					</div>
				</div>
				{# END CARD #}
			</div>
		</div>
	</section>

	<!-- Modal Change your account name -->
	<div class="modal fade" id="change-username-modal" tabindex="-1" role="dialog" aria-labelledby="change-username-modal"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="change-username-modal">Change your account name</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" action="view_account.php">
						<div class="form-group">
							<label for="new-account-name">New account name</label>
							<input type="text" class="form-control" name="new-account-name" placeholder="Your new account name">
						</div>

						<div class="form-group">
							<label for="password">Current password</label>
							<input type="password" class="form-control" name="current-password" placeholder="*******">
						</div>

						<div class="mt-3">
							<button type="submit" class="btn btn-outline-warning" href="" name="change-username">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Change your password -->
	<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-password-modal"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="change-password-modal">Change your password</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" action="view_account.php">
						<div class="form-group">
							<label for="password">Current password</label>
							<input type="password" class="form-control" name="current-password" placeholder="*******">
						</div>

						<div class="form-group">
							<label for="password">New password</label>
							<input type="password" class="form-control" name="new-password" placeholder="*******">
						</div>

						<div class="form-group">
							<label for="password">Repeat new password</label>
							<input type="password" class="form-control" name="new-password-repeated" placeholder="*******">
						</div>

						<div class="mt-3">
							<button type="submit" class="btn btn-outline-warning" href="" name="change-password">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}